<!doctype html>
<html>

<head>
    <title>Register</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style/main.css?v=1.3">
</head>

<body>
    
    <img class="BgImage"
         src="{% if greeting == 'Good Morning🌲' %}/static/images/goodmorning.png
              {% elif greeting == 'Good Evening☀️' %}/static/images/goodevening.png
              {% else %}/static/images/goodnight.png
              {% endif %}">

    <div class="RegisterContentHolder">
        <h1>{{ greeting }}</h1>

       
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="RegisterPage">
            <h2>Register 👋</h2>
            <br>
            <form method="POST" class="register_form">
                <input class="TextBox" type="text" name="username" placeholder="Username">
                <br>
                <input class="TextBox" type="password" name="password" placeholder="Password" id = "password_register">
                <label class="custom-checkbox">
                    <input type="checkbox" name="show_pass">
                    <span class="checkmark"></span>
                    Show Password
                </label>
                
                <br>
                <button class="register" type="submit" name="action" value="Register">Register</button>
            </form>
        </div>

        <hr class="divider">

        <div class="LoginPage">
            <h2>Login ↩️</h2>
            <form method="POST" class="register_form">
                <input class="TextBox" type="text" name="username" placeholder="Username">
                <br>
                <input class="TextBox" type="password" name="password" placeholder="Password">
                <label class="custom-checkbox">
                    <input type="checkbox" name="show_pass">
                    <span class="checkmark"></span>
                    Show Password
                </label>
                <br>
                <button class="register" type="submit" name="action" value="Login">Login</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/register/password_strenght_meter.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/register/password_toggle.js') }}"></script>
</body>
</html>
